@import "https://fonts.googleapis.com/css?family=Roboto";
/* line 12, ../sass/styles.scss */
body {
  /* Rectangle: */
  font-family: "Roboto", 'sans-serif';
  height: 100%;
  width: 100%;
  background-image: url("../images/fondo01.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
