//botones
$clr_control_primary: #00CE5D;

//degradado_principal
$color2: #77b300;
$color3: #446600;

@import "compass";
@import 'https://fonts.googleapis.com/css?family=Roboto';


body {
  /* Rectangle: */
  font-family: "Roboto", 'sans-serif';
  padding: 50px!important;

}

