//botones
$clr_control_primary: #00CE5D;

//degradado_principal
$color2: #77b300;
$color3: #446600;

@import "compass";
@import 'https://fonts.googleapis.com/css?family=Roboto';

@font-face {
  font-family: CursiveStandard;
  src: url('../fonts/Cursive standard.ttf');
  font-size: 2.5px;
}


body {
  /* Rectangle: */
  font-family: "Roboto", 'sans-serif';
  //padding-top: 20px;
  //padding-bottom: 20px;
  height: 100%;
  width: 100%;
  background-image: url('../images/fondo01.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

}

.header-logistica{
  height: 156px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  background-image: url(../images/pattern02.jpg);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.logo-title {
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(255, 0, 0, 0.8);
  font-size: 2.5em;
  line-height: 1.6em;
}
.social-logistica {
  height: 40px;
  margin: 5px;
  margin-top: 60px;
}
.gradient-header {
  background: #f2f6f8;
  background: -moz-linear-gradient(top, #f2f6f8 0%, #f2f6f8 0%, #f2f6f8 82%, #d3d3d3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f6f8), color-stop(0%, #f2f6f8), color-stop(82%, #f2f6f8), color-stop(100%, #d3d3d3));
  background: -webkit-linear-gradient(top, #f2f6f8 0%, #f2f6f8 0%, #f2f6f8 82%, #d3d3d3 100%);
  background: -o-linear-gradient(top, #f2f6f8 0%, #f2f6f8 0%, #f2f6f8 82%, #d3d3d3 100%);
  background: -ms-linear-gradient(top, #f2f6f8 0%, #f2f6f8 0%, #f2f6f8 82%, #d3d3d3 100%);
  background: linear-gradient(to bottom, #f2f6f8 0%, #f2f6f8 0%, #f2f6f8 82%, #d3d3d3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f6f8', endColorstr='#d3d3d3', GradientType=0);
  font-family: 'Adamina', serif;
  border-radius: 0px;
  font-size: 16px;
  margin-top: 100px;
}
.navbar {
  border-radius: 0!important;
}
.navbar-nav>li>a {
  color: rgba(0, 0, 0, 1)!important;
  font-size: 1.2em;
  width: 150px;
  text-align: center;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #cc3333!important;
  text-shadow: 0px 0px 1px #888888!important;
}
.navbar-separator{
  color: #000;
  border-style: solid;
  border-bottom: 0px;
  border-top: 0px;
  border-left-width: 1px;
  border-right-width: 0px;
  border-color: #d3d3d3;
}
.container{

}
#wrap {
  min-height: 100%;
}
#main {
  overflow: auto;
  padding-bottom: 150px;
  margin-top: 180px;
}
.panel {
  background-color: rgba(255, 255, 255, 0.95)!important;
  border-radius: 0px!important;
}
.panel-default {
  border-color: #ddd;
}
.panel2 {
  background-image: url(../images/pattern02.jpg);
  border-radius: 0px;
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear: both;
  padding-top: 20px;
  background-image: url('../images/pattern02.jpg');
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.5);
  z-index: 9;
  border-style: solid;
  border-width: 0px;
}
.white-footer{
  height: 40px;
  margin-top: -20px;
  background-color: rgba(255, 255, 255, 0.5);
}
.logo-footer{
  font-family: 'CursiveStandard';
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(255, 0, 0, 0.8);
  font-size: 2.5em;
}




@media (max-width: 759px) {

  .logo-title {
    font-size: 1.4em;
    margin-left: calc(40% - 4em);
  }

  .white-Footer {
    margin-left: -50px;
    margin-right: -50px;
  }

  .wrap {
    min-height: 100%;
  }

  #main {
    padding-bottom: 320px;
    margin-top: 235px;
  }

  .footer {
    margin-top: -320px;
    height: 320px;
  }

  .header-logistica {
    height: 210px;
  }

  .gradient-header {
    //margin-top: 40px;
    margin-top: 170px;
  }

  .social-header {
    margin-top: -70px;
    margin-left: calc(40% - 5em);
  }

  .logo-media{
    margin-left: calc(40% - 5em);
  }

  .navbar-default .navbar-nav {
    background-color: #ffffff;
  }


}