//botones
$clr_control_primary: #00CE5D;

//degradado_principal
$color2: #77b300;
$color3: #446600;

@import "compass";
@import 'https://fonts.googleapis.com/css?family=Roboto';


body {
  /* Rectangle: */
  font-family: "Roboto", 'sans-serif';
  //padding-top: 20px;
  //padding-bottom: 20px;
  height: 100%;
  width: 100%;
  background-image: url('../images/fondo01.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

